.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: #FFFFFF;
  max-width: 1110px;
  margin: 0 auto;
  padding: 29px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;

  @media (max-width: 678px) {
    grid-template-columns: auto;
  }
}

.list_wrapper {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-bottom: 11px;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  color: black;
}

.socials {
  display: flex;
  align-items: center;
  gap: 18px;
  height: fit-content;
  margin-left: auto;

  @media (max-width: 678px) {

    margin-left: 0;
  }
}

.language {
  display: flex;
  align-items: center;
  gap: 17px;
}

.language>span:hover {
  color: orange;
  cursor: pointer;
}