.card {
  display: flex;
  gap: 23px;
  width: 100%;
  height: 100%;
  padding: 18px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px #0000001A;
  border-radius: 30px;
}

.card button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.img {
  width: 146px;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
}

.card_middle {
  margin-top: 58px;
}

.card_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.delete_button {
  align-self: end;
}