.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.outlet {
  height: 100%;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 28px;
  flex: 1;
}