.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 15px 20px 25px;
  border-radius: 30px;
  background: var(--white);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  color: black;
  text-decoration: none;

  @media (max-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 500px) {
    gap: 40px;
  }
}



.card:hover {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
}

.card_title {
  overflow: hidden;
  line-break: none;
  text-overflow: ellipsis;
}

.card_image {
  max-width: 220px;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  object-fit: contain;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}

.card_bottom_row1,
.card_bottom_row2 {
  display: flex;
  justify-content: space-between;
}

.card_rate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card_buttton {
  text-align: end;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 2px 8px;
  color: var(--black);
}

.card_buttton:hover {
  transition: 0.3s;
  background: rgb(237, 237, 235);
  border-radius: 3px;
}

.card_buttton:active {
  transition: 0.3s;
  transform: scale(1.2);
}

.card_price {
  color: var(--orange);

}