:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --orange: #FFA542;
  --grey: #838383;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  scrollbar-gutter: stable both-edges;
  background: #EAEAEA;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

#root {
  height: 100%;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  display: flex;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;

  cursor: pointer;
}