.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.count {
  position: absolute;
  top: -30%;
  right: -30%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #FFA542;
  border-radius: 50px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-top: 0.3px;
}